main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  overflow-x: hidden;
}

.responsive-div {
  height: 249px;
}

@media (min-height: 700px) {
  .responsive-div {
    height: 100vh;
  }
}