* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body, div, h1, h2, h3, p, a, img, nav, section {
    background: white;
    font-family: 'Source Sans Pro';
    line-height: 1;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.main_part {
    display: block;
    
}

